@using TeamProject.ViewModels
@model ViewRequestsViewModel

@{
    Layout = "_View";
}


<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2>Составление заявки</h2>
        </div>
        <div class="meta">
            <h2>Просмотр</h2>
        </div>
    </header>
    <p><font color="red" size=4>Перед подачей заявки проверьте введённые Вами данные и полученный график работ. Если всё верно, то ещё раз нажмите кнопку "Подать заявку", находящуюся внизу страницы.</font></p>
    <h3>График работ</h3>

    <div id="visualization"></div>
    <script>
var items = new vis.DataSet({
    type: { start: 'ISODate', end: 'ISODate' }
});

var groups = new vis.DataSet([
    {
        id: 'bar',
        content: 'График',
        subgroupStack: { sg_1: true},
        subgroupVisibility: { sg_1: true}
    }
]);

@{
    int num = 0;
    DateTime b;
    int delay;
    b = Model.request.begin; // дата начала одна
    delay = Model.request.technic[num].delay; // задержка работы каждоый техники
                                                                                                // -- Вычисление новой даты с учётом здержки --
    if (delay > 24)
    {
        b = b.AddDays(delay / 24);
        delay %= 24;
    }
    b = b.AddMinutes(delay * 30);
    if (b.Hour < 8 || b.Hour > 20)
    {
        b = b.AddHours(12);
    }
}

// -- Получение нужного формата даты --
var tb = "";
tb = @b.Year.ToString();
tb += '-';
if (@b.Month < 10)
    tb += '0' + @b.Month.ToString();
else
    tb += @b.Month.ToString();
tb += '-';
if (@b.Day < 10)
    tb += '0' + @b.Day.ToString();
else
    tb += @b.Day.ToString();
tb += 'T';

if (@b.Hour < 10)
    tb += '0' + @b.Hour.ToString();
else
    tb += @b.Hour.ToString();
tb += ':';
if (@b.Minute < 10)
    tb += '0' + @b.Minute.ToString();
else
    tb += @b.Minute.ToString();
tb += ':';
if (@b.Second < 10)
    tb += '0' + @b.Second.ToString();
else
    tb += @b.Second.ToString();


// -- Вставка даты в скрипт --
items.add([
{
    id: 1,
    content: 'Тех' + 1,
        start: tb,
    end: '2020-11-10T20:00:00',
    group: 'bar',
    subgroup: 'sg_1',
    subgroupOrder: 0
},
]);

var container = document.getElementById('visualization');

var options = {
    start: '2020-11-01',
    end: '2020-11-10',
};

var timeline = new vis.Timeline(container, items, groups, options);

    </script>
</article>

<article class="post">
    <header>
        <div class="title">
            <h3>Раздел 1</h3>
        </div>
        <ul class="actions">
            <li><a asp-controller="ViewRequests" asp-action="View2" asp-route-id = "1" class="button large">Редактировать</a></li>
        </ul>
    </header>
    @{
        var request = Model.request;
        <p><b>Цех: </b> @request.Shop.name </p>
        <p><b>Ответственный:</b> @request.Responsible.User.name </p>
        DateTime time = request.begin;
        string db;
        if (time.Day < 10)
            db = '0' + time.Day.ToString();
        else
            db = time.Day.ToString();
        db += '.';
        if (time.Month < 10)
            db += '0' + time.Month.ToString();
        else
            db += time.Month.ToString();
        db += '.';
        db += time.Year.ToString();

        string tb;
        if (time.Hour < 10)
            tb = '0' + time.Hour.ToString();
        else
            tb = time.Hour.ToString();
        tb += ':';
        if (time.Minute < 10)
            tb += '0' + time.Minute.ToString();
        else
            tb += time.Minute.ToString();

        time = request.end;
        string de;
        if (time.Day < 10)
            de = '0' + time.Day.ToString();
        else
            de = time.Day.ToString();
        de += '.';
        if (time.Month < 10)
            de += '0' + time.Month.ToString();
        else
            de += time.Month.ToString();
        de += '.';
        de += time.Year.ToString();

        string te;
        if (time.Hour < 10)
            te = '0' + time.Hour.ToString();
        else
            te = time.Hour.ToString();
        te += ':';
        if (time.Minute < 10)
            te += '0' + time.Minute.ToString();
        else
            te += time.Minute.ToString();


        <p><b>Дата: </b> с @db (@tb) по @de (@te) </p>
        <p>
            <b>Описание работ: </b>
            @request.description
        </p>
        <p>
            <b>Комментарий: </b>
            @request.comment
        </p>
    }
</article>

<article class="post">
    <header>
        <div class="title">
            <h3>Раздел 2</h3>
        </div>
        <ul class="actions">
            <li><a asp-controller="ViewRequests" asp-action="View2" asp-route-id = "2" class="button large">Редактировать</a></li>
        </ul>
    </header>
    @{
        int i = 1;
        foreach (var technic in Model.request.technic)
        {
            <p> <b><u> ТЕХНИКА @i</u> </b></p>
            <p><b>Тип техники: </b> @technic.TypeTechnic.name </p>
            <p><b>Количество:</b> @technic.quantity </p>
            int hour = technic.delay / 2,
                minute = technic.delay % 2 * 30;
            db = "";
            if (hour < 10)
                db = '0' + hour.ToString();
            else
                db = hour.ToString();
            db += ':';
            if (minute < 10)
                db += '0' + minute.ToString();
            else
                db += minute.ToString();
            <p><b>Задержка: </b> @db </p>
            hour = technic.duration / 2;
            minute = technic.duration % 2 * 30;
            db = "";
            if (hour < 10)
                db = '0' + hour.ToString();
            else
                db = hour.ToString();
            db += ':';
            if (minute < 10)
                db += '0' + minute.ToString();
            else
                db += minute.ToString();

            <p><b>Продолжительность: </b> @db</p>
            <p><b>Путь к файлу: </b> @technic.path </p>
            <p><b>Исполнитель: </b> @technic.Executor.User.name </p>
            i++;
        }
    }
</article>

<article class="post">
    <ul class="actions">
        <li><a asp-controller="ViewRequests" asp-action="View2" asp-route-id = 3 class="button large">Подать заявку</a></li>
    </ul>
</article>

